* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "M+ 2m medium", Helvetica, Arial, sans-serif, Acme, FontAwesome;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 18, 25, 1);
    border-bottom: 3px solid rgba(0, 29, 41, 1);
    color: #f57900;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
/*
window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #f57900;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #C24600;
}

#workspaces button.focused {
    background-color: #263E58;
    border-bottom: 3px solid #C24600;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#disk,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
    background-color: transparent;
}

#disk {
    background-color: transparent;
}

#battery {
    background-color: transparent;
    color: #00bb00;
}

#battery.charging {
    color: #256bfe;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
    }
}

#battery.good:not(.charging) {
    background-color: transparent;
    color: #ffffff;
}

#battery.warning:not(.charging) {
    background-color: transparent;
    color: #ba5000;
}

#battery.critical:not(.charging) {
    background-color: transparent;
    color: #bb0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
}

#memory {
    background-color: transparent;
}

#backlight {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #bb0000;
}

#custom-media {
    background-color: transparent;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: transparent;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#temperature {
    background-color: transparent;
}

#temperature.critical {
    background-color: transparent;
}

#tray {
    background-color: rgba(0, 0, 0, 0.75);
}

#idle_inhibitor {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #2d3436;
}

#mpd {
    background-color: transparent;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: transparent;
}

#mpd.stopped {
    background-color: transparent;
}

#mpd.paused {
    background-color: transparent;
}
